<div class="form-container">
    <app-spinner *ngIf="isLoading"></app-spinner>

    <ng-container *ngIf="!isLoading">
        <form [formGroup]="form" (ngSubmit)="save()">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Color</mat-label>
                <input matInput type="color" formControlName="color">
            </mat-form-field>

            <div class="form-button">
                <a *ngIf="isEditing" mat-raised-button color="warn" [disabled]="isLoading" (click)="onConfirmDelete()">
                    Eliminar
                </a>
                <button mat-raised-button color="primary" [disabled]="isLoading || form.invalid">
                    Guardar
                </button>
            </div>
        </form>
    </ng-container>
</div>