<mat-list>
    <ng-container *ngFor="let keyDate of arrayDates">
        <div mat-subheader>
            {{ keyDate }}
        </div>

        <ng-container *ngFor="let item of groupedItems[keyDate]">
            <mat-list-item>
                <i mat-list-icon class="fa fa-circle" [ngStyle]="{'color': categories[item.category]?.color}"></i>
                <div mat-line>{{ item.description }}</div>
                <div mat-line [ngClass]="{ 'red-text': item.type === 1, 'green-text': item.type === 2}">{{ item.value |
                    currency : 'USD' : 'symbol' : '1.0-0' }}</div>
            </mat-list-item>
        </ng-container>
        <br>
    </ng-container>
</mat-list>

<div *ngIf="!buttonsDisplayed" class="float-fab">
    <button mat-fab color="accent" (click)="buttonsDisplayed = true"><i class="fa fa-plus fa-2x"></i></button>
</div>

<div *ngIf="buttonsDisplayed" class="float-fab">
    <button mat-fab color="accent" (click)="buttonsDisplayed = false"><i class="fa fa-chevron-down fa-2x"></i></button>
</div>

<ng-container *ngIf="buttonsDisplayed">
    <div class="float-fab float-expense">
        <button mat-fab color="warn" routerLink="/expense-form"><i class="fa fa-money-bill fa-2x"></i></button>
    </div>

    <div class="float-fab float-incoming">
        <button mat-fab color="primary" class="green-button" routerLink="/incoming-form"><i
                class="fa fa-money-bill fa-2x"></i></button>
    </div>

    <div class="float-fab float-transfer">
        <button mat-fab color="primary" routerLink="/expense-form"><i
                class="fa fa-money-bill-transfer fa-2x"></i></button>
    </div>
</ng-container>
<br>
<br>
<br>
<br>